<style>
  /* .container {
    padding: 40px;

    text-align: center;
  } */
</style>

<%- include('partials/header') -%>

<div class="container">
  <h1>Contact</h1>
  <p><%= thirdContact %></p>
</div>
<%- include('partials/footer') -%>
